@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
}

 
.responsive-logo {
  width: 160px;
}

@media (max-width: 768px) {
  .responsive-logo {
    width: 130px;
  }
} 
 
